html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #a9a9a9;
}

main {
    padding-top: 60px;
}

.navbar-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.navbar-links-container a, .navbar-links-container p {
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

.imdb-logo {
    width: 100px;
}

.movie-title-list li {
    margin-top: 1rem;
}

footer {
    background-color: #d4d4d4;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2em;
}

.movie-of-the-month {
    background-color: #d4d4d4;
}

.movie-pic {
    background-color: #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-md {
    width: 15rem;
}

.movie-md p {
    background-color: #5a5a5a;
    width: 15rem;
}

.pic-md {
    height: 18rem;
}

.pic-lg {
    height: 25rem;
}

.home-movies a {
    text-decoration: none;
}

main {
    background-color: white;
}

.back-to-movies a {
    text-decoration: none;
}